<ion-header>
  <ion-toolbar color='primary'>
    <ion-title class="ion-text-center">Seleccionar Ubicacion</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>
  <!--<ion-fab horizontal='end' vertical='top' edge slot='fixed'>

    <ion-fab-button size="small" [disabled]="editing" color="primary" (click)="edit()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>

  </ion-fab>
  -->
  <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Busqueda por lugares"></ion-searchbar>
  <!--<div #map id="map" [class.map-activo]="editing"></div>-->
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
  <div #map id="map" ></div>
  <!--
  <button ion-button (click)="edit()" [hidden]="editing">
      Editar
    </button>
  
  <ion-fab bottom right [hidden]="!editing">
    <button ion-fab mini (click)="aceptar()">
      <ion-icon name="checkmark"></ion-icon></button>
  </ion-fab>

-->
<!--
  <ion-fab horizontal='end' slot='fixed' vertical='bottom'>
    <ion-fab-button [disabled]="!editing" color="primary" (click)="aceptar()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
-->

</ion-content>
<ion-footer>
  <ion-footer>
    <ion-button ion-button fill="solid" expand="full" (click)="aceptar()">Guardar
    </ion-button>
  </ion-footer>
</ion-footer>