<ion-header>
  <ion-toolbar color='primary' class="ion-text-center">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Cobranzas Movil v{{v}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refrescarHome($event)" *ngIf="!cargando">.
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-spinner style="display: block;margin: auto;padding: 2rem 0;" *ngIf="cargando"></ion-spinner>
  
  <div>
    <ion-slides class="is-payment-cards is-card-unbordered">
      <ion-slide>
        <ion-card>
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="../../../assets/imgs/profile.png">
            </ion-thumbnail>
            <ion-label>{{ userData.USUARIO.NOMBRE }}</ion-label>
          </ion-item>

          <ion-card-content class="ion-no-padding">
            <p class="ion-text-center letra" >
              <ion-icon name="pin"></ion-icon> {{ lugar }}
            </p>
          </ion-card-content>

          <ion-row class="ion-text-center ion-padding">
            <ion-col size="6">
              <p class='is-color-danger ion-no-margin' >
                <ion-icon name="arrow-up" class='is-color-danger'></ion-icon>
                {{datosSubida}} KB
              </p>

            </ion-col>
            <ion-col size="6">
              <p class='is-color-success ion-no-margin' >
                <ion-icon name="arrow-down" class='is-color-success'></ion-icon> {{datosBajada}} KB
              </p>
            </ion-col>

          </ion-row>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>


  <ion-grid class="is-grid is-grid-tiles ion-no-padding">
    <ion-row class="ion-padding">
      <ion-col class="ion-text-center" size="5" ion-button *ngIf="userData.CAJA !== 'ABRIR'" (click)="cerrarCaja(habilitacion_caja)">
        <h3>
          <span >HABILITACION</span>
          <h3 *ngIf="userData.CAJA !== 'ABRIR'" class="is-color-danger"> {{ habilitacion_caja }} </h3>
          <h3 *ngIf="userData.CAJA === 'ABRIR'" class="is-color-danger"> {{ habilitacion_caja }} </h3>
        </h3>
      </ion-col>
      <ion-col class="ion-text-center" size="5" ion-button *ngIf="userData.CAJA == 'ABRIR'">
        <h3>
          <span>HABILITACION</span>
          <h3 *ngIf="userData.CAJA !== 'ABRIR'" class="is-color-danger"> {{ habilitacion_caja }} </h3>
          <h3 *ngIf="userData.CAJA === 'ABRIR'" class="is-color-danger"> {{ habilitacion_caja }} </h3>
        </h3>
      </ion-col>
      <ion-col size="7" class="ion-no-padding">
        <ion-row ion-button (click)="openCobros()">
          <h3>Visitas<span class="is-color-success ion-float-right">{{ userData.FACTURAS }} </span></h3>
        </ion-row>
        <ion-row ion-button (click)="openDocumentos()">
          <h3>Entregas<span class="is-color-success ion-float-right">{{ userData.DOCUMENTOS }}</span></h3>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="is-grid is-grid-tiles">
    <ion-row>
      <ion-col size="6" class="is-tile ion-text-center ion-no-padding">
        <div>
          <ion-icon name="ios-card" class='colorIcon'></ion-icon>
          <h6 class="is-tile-text">
            Recibos
          </h6>
          <p class="is-color-success is-tile-text">
            {{recibos}}
          </p>
        </div>
      </ion-col>
      <ion-col size="6" class="is-tile ion-text-center ion-no-padding">
        <div>
          <ion-icon name="ios-filing"></ion-icon>
          <h6 class="is-tile-text">
            Entregas
          </h6>
          <p class="is-color-success is-tile-text">
            {{entregas}}
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="is-tile ion-text-center ion-no-padding">
        <div>
          <ion-icon name="ios-clipboard"></ion-icon>
          <h6 class="is-tile-text">
            Notas de Visitas
          </h6>
          <p class="is-tile-text is-color-success">
            {{notasVisitas}}
          </p>
        </div>
      </ion-col>
      <ion-col size="6" class="is-tile ion-text-center ion-no-padding" >
        <div>
          <ion-icon name="ios-clipboard"></ion-icon>
          <h6 class="is-tile-text">
            Notas de Entregas
          </h6>
          <p class="is-tile-text is-color-success">
            {{notasEntregas}}
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>