:root {
  --ion-background-color-theme: #000;
  --ion-background-color-rgb-theme: 0, 0, 0;
  --ion-text-color-theme: #424242;
  --ion-item-color-theme: #424242;
  --is-ion-select-action-sheet-ios-selected-opacity-theme: 0.7;
  --is-list-buttons-detail-icon-opacity-theme: 1;
  --is-item-divider-background-theme: rgba(255, 255, 255, 0.1);
  --is-item-divider-background-active-theme: rgba(255, 255, 255, 0.2);
  --is-ion-card-background-theme: rgba(255, 255, 255, 0.15);
  --is-item-in-ion-card-background-theme: rgba(255, 255, 255, 0);
  --is-ion-popover-ion-backdrop-background-theme: rgba(255, 255, 255);
  --is-searchbar-color-theme: rgba(255, 255, 255, 0.1);

  --ion-color-primary-contrast-theme: #000;
  --ion-color-primary-contrast-rgb-theme: 0,0,0;


  --ion-color-secondary-contrast-theme: #000;
  --ion-color-secondary-contrast-rgb-theme: 0,0,0;

  --ion-color-success-contrast-theme: #000;
  --ion-color-success-contrast-rgb-theme: 0,0,0;

  --ion-color-danger-contrast-theme: #000;
  --ion-color-danger-contrast-rgb-theme: 0,0,0;

  --ion-color-dark-contrast-theme: #000;
  --ion-color-dark-contrast-rgb-theme: 0,0,0;

  --ion-color-light-contrast-theme: #000;
  --ion-color-light-contrast-rgb-theme: 0,0,0;

  --ion-color-is-facebook-contrast-theme: #000;
  --ion-color-is-facebook-contrast-rgb-theme: 0,0,0;

  --ion-color-is-twitter-contrast-theme: #000;
  --ion-color-is-twitter-contrast-rgb-theme: 0,0,0;

  --ion-color-is-linkedin-contrast-theme: #000;
  --ion-color-is-linkedin-contrast-rgb-theme: 0,0,0;

  --ion-color-is-mute-normal-theme: #D8D8D8;
  --ion-color-is-mute-normal-rgb-theme: 216,216,216;
  --ion-color-is-mute-normal-contrast-theme: #000;
  --ion-color-is-mute-normal-contrast-rgb-theme: 0,0,0;
  --ion-color-is-mute-normal-shade-theme: #bebebe;
  --ion-color-is-mute-normal-tint-theme: #dcdcdc;

  --ion-color-is-mute-dark-theme: #D8D8D8;
  --ion-color-is-mute-light-theme: rgba(255, 255, 255, 0.2);

  --ion-color-is-text-dark-theme: #D8D8D8;
  --ion-color-is-text-dark-rgb-theme: 216,216,216;
  --ion-color-is-text-dark-contrast-theme: #000;
  --ion-color-is-text-dark-contrast-rgb-theme: 0,0,0;
  --ion-color-is-text-dark-shade-theme: #bebebe;
  --ion-color-is-text-dark-tint-theme: #dcdcdc;

  --ion-color-is-facebook-icon-theme: #ffffff;
  --ion-color-is-facebook-icon-rgb-theme: 255,255,255;
  --ion-color-is-facebook-icon-contrast-theme: #000000;
  --ion-color-is-facebook-icon-contrast-rgb-theme: 0,0,0;
  --ion-color-is-facebook-icon-shade-theme: #e0e0e0;
  --ion-color-is-facebook-icon-tint-theme: #ffffff;

  --ion-color-is-twitter-icon-theme: #ffffff;
  --ion-color-is-twitter-icon-rgb-theme: 255,255,255;
  --ion-color-is-twitter-icon-contrast-theme: #000000;
  --ion-color-is-twitter-icon-contrast-rgb-theme: 0,0,0;
  --ion-color-is-twitter-icon-shade-theme: #e0e0e0;
  --ion-color-is-twitter-icon-tint-theme: #ffffff;

  --ion-color-is-linkedin-icon-theme: #ffffff;
  --ion-color-is-linkedin-icon-rgb-theme: 255,255,255;
  --ion-color-is-linkedin-icon-contrast-theme: #000000;
  --ion-color-is-linkedin-icon-contrast-rgb-theme: 0,0,0;
  --ion-color-is-linkedin-icon-shade-theme: #e0e0e0;
  --ion-color-is-linkedin-icon-tint-theme: #ffffff;

  --ion-toolbar-background-theme: #000;
  --ion-toolbar-color-theme: #fff;

  --placeholder-color-theme: #D8D8D8;
}
