<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Cambiar Clave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="mostrarMensaje">
    <span *ngIf="mostrarMensaje">Ingrese la misma contraseña dos veces para confirmarla, ingrese nuevamente!</span>
  </ion-item>
  <form [formGroup]="passwordForm" >
    <ion-list class="ion-padding" position='center'>
      <ion-item class="is-password-field">
        <ion-label position="stacked">Contraseña actual</ion-label>
        <ion-input [type]="passwordActual || 'password'" formControlName="passwordActual">
        </ion-input>
        <ion-button fill="clear" size="default" slot="end" (click)="togglePasswordTypePA()">
          <ion-icon [name]="(passwordActual === 'text') ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item class="is-password-field">
        <ion-label position="stacked">Nueva Contraseña</ion-label>
        <ion-input [type]="passwordNuevo || 'password'" formControlName="passwordNuevo">
        </ion-input>
        <ion-button fill="clear" size="default" slot="end" (click)="togglePasswordTypePN()">
          <ion-icon [name]="(passwordNuevo === 'text') ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item no-lines *ngIf="passwordForm.get('passwordNuevo').hasError('minlength')">
        <ion-label color="primary"><small>La contraseña debe contener al menos 6 caracteres</small></ion-label>
      </ion-item>
      <ion-item class="is-password-field">
        <ion-label position="stacked">Repetir contraseña nueva</ion-label>
        <ion-input [type]="passwordNuevo1 || 'password'" formControlName="passwordNuevo1">
        </ion-input>
        <ion-button fill="clear" size="default" slot="end" (click)="togglePasswordTypePN1()">
          <ion-icon [name]="(passwordNuevo1 === 'text') ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item no-lines *ngIf="passwordForm.get('passwordNuevo1').hasError('minlength')">
        <ion-label color="primary"><small>La contraseña debe contener al menos 6 caracteres</small></ion-label>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-button (click)='guardar()' ion-button fill="solid" expand="full" [disabled]="!passwordForm.valid" type="submit">Guardar
  </ion-button>
</ion-footer>