<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Actividades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="opciones" (ionChange)="cambiarEvento($event)">
    <ion-segment-button value="todos" >Todos</ion-segment-button>
    <ion-segment-button value="documentos" >Entregas</ion-segment-button>
    <ion-segment-button value="visitas" >Visitas</ion-segment-button>
  </ion-segment>

  <ion-searchbar [(ngModel)]="cliente" showCancelButton="focus" (search)="buscarVisitas(cliente)"
    (ionCancel)="cancelarBusqueda()" placeholder="Buscar">
  </ion-searchbar>

  <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list class="is-list-condensed">
    <ion-item-sliding *ngFor="let client of clientes">
      <ion-item>
        <ion-label>
          <h2>{{ client.razonSocial }}</h2>
          <p class="ion-text-wrap">{{client.ruc}}.</p>
        </ion-label>
        <div slot="end" class="is-condensed-note">
          <p class="ion-no-margin">
            <ion-badge item-left color="success"
              *ngIf="client.facturas>0 && (client.recibos_fac===0 && client.notas_fac ===0)">F</ion-badge>
            <ion-badge item-left color="primary"
              *ngIf="client.entregas>0 && (client.entregas_doc===0 && client.notas_ent ===0)">E</ion-badge>
            <ion-badge item-left color='dark'
            *ngIf="client.facturas>0 && (client.recibos_fac>0 || client.notas_fac >0)">F
            </ion-badge>
            <ion-badge item-left color='dark'
            *ngIf="client.entregas>0 && (client.entregas_doc>0 || client.notas_ent >0) ">
              E</ion-badge>
          </p>
        </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="abrirDir(client)" color='primary'>
          <ion-icon name="md-pin" class='sizeIcon'></ion-icon>
        </ion-item-option>
        <ion-item-option color='light'*ngIf="client.entregas>0" (click)="cargarDocumentos(client)">
          <ion-icon name="md-archive" class='sizeIcon'></ion-icon>
        </ion-item-option>
        <ion-item-option color='light'*ngIf="client.facturas>0" (click)="cargarFacturas(client)">
          <ion-icon name="md-document" class='sizeIcon'></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="llamar(client)" color='success'>
          <ion-icon name="md-call" class='sizeIcon'></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <h4 *ngIf="clientes.length===0 && opciones==='visitas'" class="ion-padding" style="text-align: center; padding-top: 20vh">No hay visitas para el dia.</h4>
  <h4 *ngIf="clientes.length===0 && opciones==='documentos'" class="ion-padding" style="text-align: center; padding-top: 20vh">No hay entregas para el dia.</h4>
  <h4 *ngIf="clientes.length===0 && opciones==='todos'" class="ion-padding" style="text-align: center; padding-top: 20vh">No hay visitas y entregas para el dia.</h4>


  <ion-infinite-scroll *ngIf="infinite" (ionInfinite)="doInfinite($event)" threshold="100px">
    <ion-infinite-scroll-content>

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>