<ion-header>
  <ion-toolbar color='primary'>
    <ion-title class="ion-text-center">Cobranzas Movil v{{version}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  <div class="is-hero">
    <div class="is-image-container ion-padding-top">
      <img src="assets/imgs/icon.png" />
    </div>
  </div>


  <ion-list class="is-list-transparent ion-padding">
    <ion-item>
      <ion-input type="text" [(ngModel)]="usuario" placeholder="Usuario" (keyup.enter)="validarDatosLocales()">
      </ion-input>
    </ion-item>

    <ion-item class="is-password-field">
      <ion-input [type]="passwordType || 'password'" [(ngModel)]="password" placeholder="Contraseña"
        (keyup.enter)="validarDatosLocales()" [clearOnEdit]="false"></ion-input>
      <ion-button fill="clear" size="default" slot="end" (click)="togglePasswordType()">
        <ion-icon [name]="(passwordType === 'text') ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list lines="none" class='is-list-buttons is-list-transparent ion-padding ion-no-margin'>
    <ion-item button color="primary" detail="false" (click)="validarDatosLocales()">
      <ion-label class="ion-text-center">Ingresar</ion-label>
    </ion-item>
  </ion-list>


  <h6 expand="full" fill="clear" class="pie ion-no-margin">Desarrollado en Bypersoft IT &copy; 2019</h6>


</ion-content>