.is-hero .is-image-container img {
    width: 170px;
}
ion-content::before {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: ' ';
    background: rgba(0,0,0, 0.3);
}
ion-content {
    background-image: url("../../../assets/imgs/login-fondo.png");
    background-size: cover;
    background-position: center;
    --background: transparent;
}

.pie {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    //padding: 2%;
  }