<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Asignacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="cliente" [showCancelButton]="true" (search)="buscarClientes()"
    (ionCancel)="cancelarBusqueda()" placeholder="Buscar por Nombre o RUC">
  </ion-searchbar>
  <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list class="is-list-condensed">
    <ion-item-sliding *ngFor="let cliente of clientes">
      <ion-item>
        <ion-label>
          <h2>{{ cliente.razonSocial }}</h2>
          <p class="ion-text-wrap">{{ cliente.ruc }}</p>
        </ion-label>
        <div slot="end" class="is-condensed-note">
          <p class="ion-no-margin">
            <ion-badge item-left color="primary" *ngIf="cliente.facturas>0">F</ion-badge>
          </p>
        </div>
      </ion-item>

      <ion-item-options slot='end'>
        <ion-item-option color="primary" [disabled]="buttonCondition" (click)="asignarCliente(cliente)">
          <ion-icon name="md-add-circle" class="sizeIcon"></ion-icon>
          ASIGNAR
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <h4 *ngIf="clientes.length===0" class="ion-padding" style="text-align: center; padding-top: 20vh">Sin clientes para asignar</h4>

  <ion-infinite-scroll *ngIf="infinite" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>