<ion-header>

  <ion-toolbar color="primary">
   
    <ion-title class="ion-text-center"> Resumen de Cobro</ion-title>
    
  </ion-toolbar>

</ion-header>
<ion-content>

  <ion-fab horizontal='start' slot='fixed' vertical='bottom'>
    <ion-fab-button color="primary" (click)="atras()" [disabled]="printOK">
      <ion-icon name="md-create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab horizontal='end' slot='fixed' vertical='bottom'>
    <ion-fab-button color="primary" (click)="finish()" [disabled]="printOK">
      <ion-icon name="md-print"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab horizontal='end' slot='fixed' vertical='bottom' *ngIf="printOK">
    <ion-fab-button color="dark" (click)="imprimirDuplicado()" [disabled]="imprimioDuplicado">
      <ion-icon name="md-print"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Cliente: {{cliente.razonSocial}}</h2>
        <br />
        <ion-row>
          <ion-col width-30>
            <p *ngIf="reciboCheck">Total Factura (FCR): </p>
          </ion-col>
          <ion-col width-70>
            <p *ngIf="reciboCheck"> {{totalFCR | moneda:moneda.id}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-30>
            <p *ngIf="fcoCheck">Total Factura (FCO): </p>
          </ion-col>
          <ion-col width-70>
            <p *ngIf="fcoCheck"> {{totalFCO | moneda:moneda.id}} </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-30>
            <p *ngIf="interesCheck">Interes: </p>
          </ion-col>
          <ion-col width-70>
            <p *ngIf="interesCheck">{{recibo.interes | moneda:moneda.id}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-30>
            <p *ngIf="anticipoCheck">Anticipo: </p>
          </ion-col>
          <ion-col width-70>
            <p *ngIf="anticipoCheck">{{recibo.anticipo | moneda:moneda.id }}</p>
          </ion-col>
        </ion-row>
        <hr>
        <ion-row>
          <ion-col width-30>
            <p>Total Recibo </p>
          </ion-col>
          <ion-col width-70>
            <p>{{totalRecibo | moneda:moneda.id}}</p>
          </ion-col>
        </ion-row>
        <br />
        <h2>Medios de Pago </h2>
        <ion-row>
          <ion-col width-50>
            <p> Tipo Valor</p>
          </ion-col>
          <ion-col width-30>
            <p> Importe</p>
          </ion-col>
          <ion-col width-25>
            <p> Numero</p>
          </ion-col>
        </ion-row>
      </ion-label>

    </ion-item>
    <ion-item *ngFor="let valor of recibo.valores" [hidden]="esCero(valor.total)">
      <ion-row>
        <ion-col width-50>
          <p>{{ valor.tipo.descripcion }}</p>
        </ion-col>
        <ion-col width-30>
          <p>{{ valor.total  | moneda:valor.moneda.id}}</p>
        </ion-col>
        <ion-col width-25 *ngIf="valor.numero>0">
          <p>{{ valor.numero }}</p>
        </ion-col>

      </ion-row>


    </ion-item>
  </ion-list>
</ion-content>