<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Notas del Cobrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label color="primary" position="stacked">Nota</ion-label>
    <ion-textarea fz-elastic [(ngModel)]="nota" placeholder="Ingrese una descripcion"></ion-textarea>
  </ion-item>
  <!--<ion-fab bottom right>
    <button ion-fab (click)="guardarNota()">
      <ion-icon name="md-send"></ion-icon>
    </button>
  </ion-fab>
-->
  <!--<ion-fab horizontal='end' slot='fixed' vertical='bottom'>
    <ion-fab-button [translucent]='true' color="primary" (click)="guardarNota()">
      <ion-icon name="md-send"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  -->
</ion-content>
<ion-footer>
  <ion-button ion-button fill="solid" expand="full" (click)="guardarNota()">Guardar
  </ion-button>
</ion-footer>