<ion-header>
  <ion-toolbar color='primary' class="ion-text-center">
    <ion-title>Facturas Pendientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div>
    <h2 class="ion-text-center negro">{{cliente.razonSocial}}</h2>

    <h4 class="ion-text-center">RUC:{{cliente.ruc}}</h4>
  </div>

  <ion-item-group>
    <ion-item>
      <ion-label>
        <p>
          <ion-icon name="pin">
          </ion-icon> {{cliente.dir}}
        </p>
      </ion-label>
      <div class="is-condensed-note" slot="end">
        <p class='colorAzul ion-no-margin' button (click)='abrirDir()'>
          Ver
        </p>
      </div>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Notas</ion-label>
    </ion-item-divider>
    <ion-item (click)="mostrarNotas('1')">
      <ion-label>
        <div class="is-title-with-info">
          <p button *ngIf="mensajeNotas" class="ion-text-wrap">
            {{ mensajeNotas }}
          </p>
        </div>
      </ion-label>
    </ion-item>
    <ion-item (click)="mostrarNotas('2')">
      <ion-label>
        <div class="is-title-with-info">
          <p button *ngIf="mensajeNotasCobrador" class="ion-text-wrap">
            {{ mensajeNotasCobrador }}
          </p>
        </div>
      </ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Facturas
      </ion-label>
      <ion-label slot='end'>
        <ion-select [(ngModel)]="orden" interface="action-sheet" cancelText="Cancelar" (ionChange)="cambiarFiltro()">
          <ion-select-option value="vencimiento">Fecha Vencimiento</ion-select-option>
          <ion-select-option value="nroFactura">Nro Factura</ion-select-option>
          <ion-select-option value="monto">Total Factura</ion-select-option>
        </ion-select>
      </ion-label>
    </ion-item-divider>
  </ion-item-group>
  <ion-item-group>
    <ion-item-sliding *ngFor="let invoice of facturas">
      <ion-item>
        <ion-label>
          <div class="is-title-with-info">
            <h2>{{ invoice.data.numero }}</h2>
            <h3>{{ invoice.data.fecha_emision}}</h3>
          </div>
          <ion-note class='is-color-success'>
            TOTAL: {{ invoice.data.total | moneda:invoice.data.moneda}}
          </ion-note>

          <p class='is-color-primary'> SALDO: {{ invoice.data.saldo | moneda:invoice.data.moneda}}</p>
        </ion-label>
        <ion-toggle slot="start" color="primary" [(ngModel)]="invoice.check"
          [disabled]="invoice.data.saldo<=0?true:false"></ion-toggle>
      </ion-item>
      <ion-item-options slot='end'>
        <ion-item-option color="primary" (click)="ver(invoice)">
          <ion-icon name="md-eye" class="sizeIcon"></ion-icon>
          VER
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-item-group>

  <h4 *ngIf="facturas.length===0" style="text-align: center; padding-top: 20vh">No hay facturas para el cliente</h4>

  <ion-fab horizontal='end' slot='fixed' vertical='bottom'>
    <ion-fab-button [translucent]='true' color="primary" (click)="cobrar()" [disabled]="buttonCondition">
      <ion-icon name="md-checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
  <ion-infinite-scroll *ngIf="infinite" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>