<ion-header>

  <ion-toolbar color="primary">
    <ion-title class="ion-text-center"> {{cliente.razonSocial}}</ion-title>

    <ion-button slot='end' (click)="finish()">
      <ion-icon name="md-arrow-dropright-circle"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div *ngIf="dataSync === true">
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="datos">
        Datos
      </ion-segment-button>
      <ion-segment-button value="facturas">
        Facturas
      </ion-segment-button>
      <ion-segment-button value="valores">
        Valores
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="tab">
      <ion-list *ngSwitchCase="'datos'">
        <ion-item *ngIf="recibo.nro_recibo !== 'A definir'">
          <ion-label floating>Numero de recibo</ion-label>
          <ion-input disabled="true" type="text" [(ngModel)]="recibo.nro_recibo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Fecha</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY" [(ngModel)]="fecha" CancelText="Cancelar"
            DoneText="Aceptar" max="2100"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label floating>Moneda</ion-label>

          <ion-select #moneda.id [(ngModel)]="moneda.id" [value]="moneda.id" (ngModelChange)="onMonedaChange()"
            interface="action-sheet" cancelText="Cancelar">
            <ion-select-option *ngFor="let mon of monedas" [value]="mon.id">{{ mon.descripcion }}</ion-select-option>
          </ion-select>
        </ion-item>
        <!--<ng-select class="custom" [items]="monedas" [(ngModel)]="moneda.id" [searchable]="false" [closeOnSelect]="true"
            [clearable]="false" bindLabel="descripcion" bindValue="id" (change)="onMonedaChange()">
          </ng-select>-->
        <ion-item>
          <ion-label floating>Cotizacion</ion-label>
          <ion-input (ionBlur)="onMonedaChange()" type="number" [(ngModel)]="recibo.cotizacion"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Concepto</ion-label>
          <ion-select [(ngModel)]="recibo.concepto" interface="action-sheet" cancelText="Cancelar">
            <ion-select-option *ngFor="let concepto of conceptos" [value]="concepto.id_concepto">
              {{ concepto.descripcion }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label fixed>Interes</ion-label>
          <ion-checkbox [(ngModel)]="isChecked" (ionChange)="recalcularTotalFacturas()">
          </ion-checkbox>
        </ion-item>
        <ion-item *ngIf="isChecked">
          <ion-label floating>Monto Interes</ion-label>
          <ion-input disabled="true" [(ngModel)]="recibo.interes"></ion-input>
        </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="'valores'">
        <ion-list *ngFor="let valor of recibo.valores; let i = index">
          <ion-item-group>
            <ion-list-header>
              <ion-grid>
                <ion-row>
                  <ion-col size='9'>
                    <h4><b>{{ i + 1 }}</b> {{ valor.tipo.descripcion }} </h4>
                  </ion-col>
                  <ion-col size='3'>

                    <ion-button (click)="removeValor(valor)" color='primary'>
                      <ion-icon name='md-remove'></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-list-header>
            <ion-item>
              <ion-label floating>Forma de pago</ion-label>
              <ion-select [(ngModel)]="valor.tipo" interface="action-sheet" (ionChange)="limpiarValor(i)"
                cancelText="Cancelar">
                <ion-select-option *ngFor="let tipo of tipoValores" [value]="tipo">{{ tipo.descripcion }}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="valor.modificarMoneda===1">
              <ion-label floating>Moneda</ion-label>
              <ion-select [(ngModel)]="valor.moneda" (ionChange)="setearMonedaValor(i)" interface="action-sheet"
                cancelText="Cancelar">
                <ion-select-option *ngFor="let mon of monedas" [value]="mon">
                  {{ mon.descripcion }}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="valor.tipo.has_number===1">
              <ion-label floating>Numero de cheque/cuenta o retencion</ion-label>
              <ion-input type="text" [(ngModel)]="valor.numero"></ion-input>
            </ion-item>
            <ion-item *ngIf="valor.tipo.has_fecha===1">
              <ion-label floating>Fecha</ion-label>
              <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY" [(ngModel)]="valor.fecha" max="2100"
                cancelText="Cancelar" doneText="Aceptar"></ion-datetime>
            </ion-item>
            <ion-item *ngIf="valor.tipo.has_banco===1">
              <ion-label floating>Banco</ion-label>
              <ion-select [(ngModel)]="valor.banco" interface="action-sheet" cancelText="Cancelar"
                *ngIf="valor.tipo.has_cuenta===0">
                <ion-select-option *ngFor="let entidad of entidades" [value]="entidad.id">
                  {{ entidad.descripcion }}</ion-select-option>
              </ion-select>
              <ion-select [(ngModel)]="valor.banco" interface="action-sheet" cancelText="Cancelar"
                *ngIf="valor.tipo.has_cuenta===1" (ionChange)="vaciarCuentas(i)">
                <ion-select-option *ngFor=" let entidad of entidadesAux" [value]="entidad.id">
                  {{ entidad.descripcion }}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="valor.tipo.has_cuenta===1">
              <ion-label floating>Cuenta</ion-label>
              <ion-select [(ngModel)]="valor.cuenta" interface="action-sheet" cancelText="Cancelar">
                <ion-select-option *ngFor="let cuenta of cuentas | filter :  valor.banco : valor.moneda.id"
                  [value]="cuenta.id">
                  {{ cuenta.descripcion }}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Total</ion-label>
              <ion-input type="number" [(ngModel)]="valor.total" (ionBlur)="recalcularTotalValores()"></ion-input>
            </ion-item>
            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size='6'>Valorizado</ion-col>
                  <ion-col size='6'>{{ valor.valorizado | moneda:moneda.id }}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-item-group>
        </ion-list>
      </ion-list>

      <ion-list *ngSwitchCase="'facturas'">
        <ion-list *ngFor="let invoice of recibo.facturas">
          <ion-card>
            <ion-card-header>
              <ion-title>
                {{ invoice.data.numero }}
              </ion-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col width-50>A Cobrar</ion-col>
                  <ion-col width-50>
                    <ion-input type="number" (ionBlur)="recalcularTotalFacturas()" [(ngModel)]="invoice.a_cobrar">
                    </ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col width-50>Fecha Emision</ion-col>
                  <ion-col width-50>{{ invoice.data.fecha_emision }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col width-50>Saldo Factura </ion-col>
                  <ion-col width-50>{{ invoice.data.saldo | moneda:invoice.data.moneda }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col width-50>Total Factura</ion-col>
                  <ion-col width-50>{{ invoice.data.total | moneda:invoice.data.moneda }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col width-50>Saldo Cuota </ion-col>
                  <ion-col width-50>{{ invoice.data.saldo_cuota | moneda:invoice.data.moneda }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col width-50>Valorizado</ion-col>
                  <ion-col width-50>{{ invoice.valorizado | moneda:moneda.id }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col width-50>Cuota</ion-col>
                  <ion-col width-50>{{ invoice.data.cuota_minima }} / {{ invoice.data.cuota_maxima }}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-list>
    </div>

  </div>
</ion-content>

<ion-footer>
  <div *ngIf="dataSync === true">
    <ion-toolbar>
      <ion-grid>
        <ion-row class="pie-titulo">
          <ion-col size='4'>
            <ion-title class="title2">Facturas</ion-title>
          </ion-col>
          <ion-col size='4'>
            <ion-title class="title2">Valores</ion-title>
          </ion-col>
          <ion-col size='4'>
            <ion-title class="title2">Adelanto</ion-title>
          </ion-col>
        </ion-row>
        <ion-row class="pie-dato">
          <ion-col size='4'>
            <ion-title class="title1"> {{ totalFacturas | moneda:moneda.id }} </ion-title>
          </ion-col>
          <ion-col size='4'>
            <ion-title class="title1"> {{ totalValores | moneda:moneda.id }} </ion-title>
          </ion-col>
          <ion-col size='4' [class.error]="totalFacturas - totalValores > 0.0001">
            <ion-title class='title1'> {{ totalValores - totalFacturas | moneda:moneda.id }} </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
    <ion-fab class="position" *ngIf="tab == 'valores'" horizontal='end' vertical='bottom' slot="fixed">
      <ion-fab-button color="primary" (click)="addDefaultValor()">
        <ion-icon name="md-add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-footer>