
ion-col.error {
    color: darken(red, 10);
}
.title1 {
    text-align: center;
    font-size:11px;
    font-weight: bold;
    overflow: visible;
    padding: 0px;
}

.title2 {
    font-size: 11px;
    text-align: center;
    font-weight: 400;
}

.letra_chica{
    font-size: 18px;
}
.position{
    margin-bottom: 3rem;
}