<ion-header>
  <ion-toolbar color='primary' class="ion-text-center">
    <ion-title>Recibos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  
  <h2 class="ion-text-center negro"> {{ factura.cliente.razonSocial }} </h2>
  <h4 class="ion-text-center">{{ factura.numero }}</h4>
  <p class="ion-text-center"> Emisión {{ factura.fecha_emision | moment }} </p>

  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <button id="saldo" round width-50> Saldo: <br /> {{ totalSaldo | moneda:factura.moneda }}</button>
      </ion-col>
      <ion-col>
        <button id="total" round width-50> Total: <br /> {{ totalFactura | moneda:factura.moneda }}</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item-sliding *ngFor="let receipt of recibos">
      <ion-item>
        <ion-row>
          <ion-col size='3'>
            <h6> Nro: {{ receipt.nro_recibo }} </h6>
          </ion-col>

          <ion-col size='3'>
            <h6> Fecha: {{ receipt.fecha | moment }} </h6>
          </ion-col>
          <ion-col size='3'>
            <p> Monto Pagado: {{ receipt.total | moneda:receipt.id_moneda}} </p>
          </ion-col>
          <ion-col size='3'>
            <p> Estado: {{ receipt.estado }} </p>
          </ion-col>
        </ion-row>

      </ion-item>
      <ion-item-options side='end'>
        <button (click)="anular(receipt)" color="white" *ngIf="receipt.estado == 'PENDIENTE'">
          <ion-icon name="md-remove-circle"></ion-icon>
          Anular
        </button>
        <button (click)="imprimir(receipt,'1')" color="white" *ngIf="receipt.estado == 'PENDIENTE'">
          <ion-icon name="md-print"></ion-icon>
          Orig
        </button>
        <button (click)="imprimir(receipt,'2')" color="white" *ngIf="receipt.estado == 'PENDIENTE'">
          <ion-icon name="md-print"></ion-icon>
          Dupl
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
  
  <h4 *ngIf="recibos?.length == 0" style="text-align: center; padding-top: 20vh">Esta factura no cuenta con recibos</h4>

</ion-content>