<ion-header>
  <ion-toolbar color='primary' class="ion-text-center">
    <!--<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>-->
    <ion-title>Documentos a entregar</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <div>
    <h2 class="ion-text-center negro">{{cliente.razonSocial}}</h2>

    <h4 class="ion-text-center">RUC:{{cliente.ruc}}</h4>
  </div>

  <ion-item-group>
      <ion-item>
        <ion-label>
          <p>
            <ion-icon name="pin">
            </ion-icon> {{cliente.dir}}
          </p>
        </ion-label>
        <div class="is-condensed-note" slot="end">
          <p class='colorAzul ion-no-margin' button (click)='abrirDir()'>
            Ver
          </p>
        </div>
      </ion-item>
    </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Nota del Cobrador</ion-label>
    </ion-item-divider>
    <ion-item (click)="mostrarNotas()" >
      <ion-label >
        <div class="is-title-with-info">
          <p *ngIf="mensajeNotasCobrador" class="ion-text-wrap">
            {{ mensajeNotasCobrador }}
          </p>
        </div>

      </ion-label>
    </ion-item>
  </ion-item-group>
  <ion-item-group>

    <ion-item *ngFor="let document of documents">
      <ion-label>
        <div class="is-title-with-info">
          <h2>{{ document.data.no_documento }}</h2>
          <h3>{{ document.data.fecha_documento}}</h3>
        </div>
        <ion-note class='is-color-success'>
          Importe: {{ document.data.importe}} {{document.data.simbolo}}
        </ion-note>

        <p *ngIf="document.data.guardado===1">ENTREGADO</p>
        <p *ngIf="document.data.guardado===0">NO ENTREGADO</p>
      </ion-label>

      <ion-toggle slot="start" color="primary" 
      [(ngModel)]="document.check"></ion-toggle>
    
    </ion-item>


  </ion-item-group>


  <h4 *ngIf="documents.length===0" style="text-align: center; padding-top: 20vh">No hay documentos para el cliente</h4>
 
  <ion-fab horizontal='end' slot='fixed' vertical='bottom'>
    <ion-fab-button color="primary" (click)="guardar()" [disabled]="buttonCondition">
      <ion-icon name="archive"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <!--<ion-infinite-scroll *ngIf="infinite" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>-->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>